* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");

  opacity: 0.35;

  pointer-events: none;

  z-index: 1;
}